<h1>Listing artists</h1>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Artist</th>
      <th></th>
    </tr>
  </thead>

  <tbody class="table-striped">
    <% @artists.each do |artist| %>
      <tr>
        <td><%= image_tag( artist.image_url, style: "max-width:50px;max-height:50px") %></td>
        <td><%= artist.name %></td>
        <td>
          <%= link_to 'Show', artist, class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_artist_path(artist), class: "btn btn-warning" %>
          <%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artist', new_artist_path, class: "btn btn-success" %>
